

    <div class="banner-top">
        <h1>BMR Calculator</h1>
    </div>
    <mat-card class="login-card">

        
        <form [formGroup]="bmrForm" (submit)="calculate()">
            <div class="gender">
                <label>Gender: </label>
                <mat-radio-group formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>How Old you Are?</mat-label>
                <input matInput type="number" formControlName="age" autocomplete="off">
                <button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>how_to_reg</mat-icon>
                </button>
                <mat-error *ngIf="(bmrForm.get('age').touched 
                    || bmrForm.get('age').dirty) && 
                    bmrForm.get('age').errors">
                    Please enter Age</mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Your Height (cm)</mat-label>
                <input matInput type="text" formControlName="height" autocomplete="off">
                <button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>height</mat-icon>
                </button>
                <mat-error *ngIf="(bmrForm.get('height').touched 
                || bmrForm.get('height').dirty) && 
                bmrForm.get('height').errors">
                    Please enter height</mat-error>
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Weight (kg)</mat-label>
                <input matInput type="text" formControlName="weight" autocomplete="off">
                <button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>monitor_weight</mat-icon>
                </button>
                <mat-error *ngIf="(bmrForm.get('weight').touched 
                || bmrForm.get('weight').dirty) && 
                bmrForm.get('weight').errors">
                    Please enter weight</mat-error>
            </mat-form-field>
            <div class="register">
                <mat-card class="bmi_card" *ngIf="BMR">
                    BMR is {{BMR}}
                </mat-card>
                <button mat-raised-button color="accent" type="submit">
                    Calculate
                </button>
                <!-- Expension panel -->

            </div>
        </form>

    </mat-card>