<div class="contatiner">
    <mat-card class="menu-card">
        <mat-card-header class="my-header">
            <!-- <button type="button" class="button-menu" mat-mini-fab color="accent" > -->
                <mat-icon class="button-menu">menu</mat-icon>
            <!-- </button> -->
            <!-- <div mat-card-avatar class="logo"></div> -->
            <!-- <mat-card-title>Smart Dietation</mat-card-title> -->
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            <img src="../../../assets/icons/logo2.png" alt="" srcset="" class="logo"> 
            <div class="menu-button">
                <!-- <button type="button" mat-mini-fab color="accent" (click)="goToReport()">
                    <mat-icon>assessment</mat-icon>
                </button> -->
                 
                <span class="spacer"></span>
                <!-- <button type="button" mat-mini-fab color="accent" (click)="goHome()"> -->
                    <mat-icon>search</mat-icon>
                    <span class="small-spacer"></span>
                    <mat-icon>favorite_border</mat-icon>
                    <span class="small-spacer"></span>
                    <mat-icon>local_mall</mat-icon>
                  <!-- </button> -->
              </div>
          </mat-card-header>  
    </mat-card>
</div>



  
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
    
    
    <ul>
        <li>
            <a href="http://">Portion</a>
        </li>
        <li>
            <a href="http://">Portion</a>
        </li>
        <li>
            <a href="http://">Portion</a>
        </li>
    </ul>
    </mat-drawer>
  
  </mat-drawer-container>