$primaryColor: rgb(2 174 238);
// .example-container {
//     width: 100%;
//     height: 100%;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .menu-card{
      background-color:$primaryColor;
      border-radius: 0px ;
  }
  mat-card-title{
      padding-top: 10px;
  }
  .logo {
    background-image: url('../../../assets/icons/icon-128x128.png');
    background-size: cover;
    background-color: white;
  }
  .menu-button{
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
  li{
      list-style: none;
  }
  .spacer{
    padding-left: 5px;
  }