.example-container {
    // height: 400px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  .mat-card{
    padding: 0px !important;
  }
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 8px;
    padding-right: 5px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 5px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
  

th{
    font-size: small;
    font-weight: bold;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  // padding: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.error{
  background-color: red;
    padding-left: 3px !important;
    border: 2px solid white;
    color: white;
}
.banner{
  height: 240px;
  max-height: 300px;
  width: 100%;
  background-size: cover;
  img{
      width: 100%;
      
  }
  padding-bottom: 20px;
  background-color: #ff4081;
}