<!-- <span class="text-right">
  <button mat-raised-button color="accent"> <a routerLink="/report"> Today's Report</a> </button>
</span> -->
<div class="banner-top">
  <h1>Lunch Portion</h1>
 </div>
 <mat-card class="menu-title card-carbs">
   <mat-accordion>
     <mat-expansion-panel hideToggle>
       <mat-expansion-panel-header>
         <mat-panel-title class="panel-title">
           Carbs 
         </mat-panel-title>
         <mat-panel-description>
           <span>Not Completed </span>
         </mat-panel-description>
       </mat-expansion-panel-header>
       <table mat-table [dataSource]="dataSourceCarbs" class="mat-elevation-z8">
          
         
         <ng-container matColumnDef="carbs">
           <th mat-header-cell *matHeaderCellDef> Carbs </th>
           <td mat-cell *matCellDef="let element"> {{element.carbs}}p </td>
         </ng-container>
       
         
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
         </ng-container>
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row; let i = index">
           <button [class.btn-succes]='i == selectedIndex' mat-raised-button color="accent" (click)="carbsDiet(row,i)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsCarbs"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsCarbs;"
             (click)="selectionCarbs.toggle(row)">
         </tr>
       </table>
     </mat-expansion-panel>
   </mat-accordion>
 </mat-card>
 
 <!-- Proteins -->
 
 
 
 <mat-card class="card-protein">
   <mat-accordion>
     <mat-expansion-panel hideToggle>
       <mat-expansion-panel-header>
         <mat-panel-title class="panel-title">
           Proteins
         </mat-panel-title>
         <!-- <mat-panel-description>
           This is a summary of the content
         </mat-panel-description> -->
       </mat-expansion-panel-header>
       <table mat-table [dataSource]="dataSourceProtein" class="mat-elevation-z8">
            
         <ng-container matColumnDef="protein">
           <th mat-header-cell *matHeaderCellDef> Proteins </th>
           <td mat-cell *matCellDef="let element"> {{element.protein}}p </td>
         </ng-container>
       
         
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
         </ng-container>
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row;let i = index">
           <button [class.btn-succes]='i == selectedIndex2'  mat-raised-button color="accent" 
           (click)="proteinDiet(row,i)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsProtein"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsProtein;"
             (click)="selectionProtein.toggle(row)">
         </tr>
       </table>
     </mat-expansion-panel>
   </mat-accordion>
 </mat-card>
 
 
 <!-- Fats -->
 
 <mat-card class="card-fats">
   <mat-accordion>
     <mat-expansion-panel hideToggle>
       <mat-expansion-panel-header>
         <mat-panel-title class="panel-title">
           Fats
         </mat-panel-title>
         <!-- <mat-panel-description>
           This is a summary of the content
         </mat-panel-description> -->
       </mat-expansion-panel-header>
       <table mat-table [dataSource]="dataSourceFat" class="mat-elevation-z8">
            
         <ng-container matColumnDef="fat">
           <th mat-header-cell *matHeaderCellDef> Fat </th>
           <td mat-cell *matCellDef="let element"> {{element.fat}}p </td>
         </ng-container>
       
         
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
         </ng-container>
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row;let i = index">
           <button [class.btn-succes]='i == selectedIndex3'  mat-raised-button color="accent" (click)="fatDiet(row,i)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsFat"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsFat;"
             (click)="selectionFat.toggle(row)">
         </tr>
       </table>
     </mat-expansion-panel>
   </mat-accordion>
 </mat-card>
   
 <!-- Dairy -->
 
 
 
 <mat-card class="card-dairy">
   <mat-accordion>
     <mat-expansion-panel hideToggle>
       <mat-expansion-panel-header>
         <mat-panel-title class="panel-title">
           Dairy
         </mat-panel-title>
         <!-- <mat-panel-description>
           This is a summary of the content
         </mat-panel-description> -->
       </mat-expansion-panel-header>
       <table mat-table [dataSource]="dataSourceDairy" class="mat-elevation-z8">
            
         <ng-container matColumnDef="dairy">
           <th mat-header-cell *matHeaderCellDef> Dairy </th>
           <td mat-cell *matCellDef="let element"> {{element.dairy}}p </td>
         </ng-container>
       
         
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
         </ng-container>
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row;let i = index">
           <button  [class.btn-succes]='i == selectedIndex4' mat-raised-button color="accent" (click)="dairyDiet(row,i)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsDairy"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsDairy;"
             (click)="selectionDairy.toggle(row)">
         </tr>
       </table>
     </mat-expansion-panel>
   </mat-accordion>
 </mat-card>
 
 
 <!-- Fruit -->
 <mat-card class="card-fruit">
   <mat-accordion>
     <mat-expansion-panel hideToggle>
       <mat-expansion-panel-header>
         <mat-panel-title class="panel-title">
           Fruit
         </mat-panel-title>
         <!-- <mat-panel-description>
           This is a summary of the content
         </mat-panel-description> -->
       </mat-expansion-panel-header>
       <table mat-table [dataSource]="dataSourceFruit" class="mat-elevation-z8">
            
         <ng-container matColumnDef="fruit">
           <th mat-header-cell *matHeaderCellDef> Fruit </th>
           <td mat-cell *matCellDef="let element"> {{element.fruit}}p </td>
         </ng-container>
       
         
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
         </ng-container>
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row;let i = index">
           <button [class.btn-succes]='i == selectedIndex5' mat-raised-button color="accent" (click)="fruitDiet(row,i)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsFruit"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsFruit;"
             (click)="selectionFruit.toggle(row)">
         </tr>
       </table>
     </mat-expansion-panel>
   </mat-accordion>
 </mat-card>
 
 
 
 <!-- Snacks -->
 
 <!-- <mat-card class="card-snack">
   <mat-card-title>Snacks</mat-card-title>
     <table mat-table [dataSource]="dataSourceSnacks" class="mat-elevation-z8">
         
         <ng-container matColumnDef="diet">
           <th mat-header-cell *matHeaderCellDef> Diet </th>
           <td mat-cell *matCellDef="let element"> {{element.diet}} </td>
         </ng-container>
       
        
         <ng-container matColumnDef="ratio">
           <th mat-header-cell *matHeaderCellDef> Ratio </th>
           <td mat-cell *matCellDef="let element"> {{element.ratio}}p </td>
         </ng-container>
 
        
 
         <ng-container matColumnDef="food">
             <th mat-header-cell *matHeaderCellDef> Food </th>
             <td mat-cell *matCellDef="let element"> {{element.food}} </td>
           </ng-container>
 
 
        
        <ng-container matColumnDef="select">
         <th mat-header-cell *matHeaderCellDef>
           Status
         </th>
         <td mat-cell *matCellDef="let row">
           <button mat-raised-button color="accent" (click)="snacksDiet(row)">Done</button>
         </td>
       </ng-container>
         
         <tr mat-header-row *matHeaderRowDef="displayedColumnsSnacks"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumnsSnacks;"
             (click)="selectionSnacks.toggle(row)">
         </tr>
       </table>
 </mat-card> -->