<div class="container-fluid">
    <div class="container">
    <div class="banner">  </div>
    <mat-card  class="login-card" >
        
        <h4>Welcome to smart Dietation</h4>
        <h1>Login Here</h1>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" >
            <button  matSuffix mat-icon-button aria-label="Clear" >
              <mat-icon>email</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="text" >
            <button  matSuffix mat-icon-button aria-label="Clear" >
              <mat-icon>vpn_key</mat-icon>
            </button>
          </mat-form-field>
          <div class="register">
            <button mat-raised-button (click)="login()">
                Login
            </button>
            <span> Not registerd? <a  routerLink="/register" >Click to register</a></span>
                
          </div>
    </mat-card>
</div>

</div>
