$accent_color:#ff4081;

.container-fluid{
        // height:100%;
        width: 100%;
        background-size: cover;
        background-image: url('../../../assets/banners/home-banner.gif');
    .container{
        margin-left: 15px;
        margin-right: 15px;
        .content-card{
            background-color:transparent;
            box-shadow: none !important;
          button{
            font-size: 250%;
            padding: 4%;
            width: 300px;
            margin: 10% 0%;
          }
        }
    }
    a{
      text-decoration: none;
      color: white;
     }
}
