<div class="container-fluid">
    <div class="container">
    <mat-card  color="accent" class="content-card card-1" >
		<button mat-raised-button color="accent" (click)="BMI()">BMI Calculator </button>
		<button mat-raised-button color="accent" > <a routerLink="/portion"> Portion Control</a></button>
		
		<button mat-raised-button color="accent"> <a routerLink="/guide"> Show Guidlines</a> </button>
		<button mat-raised-button color="accent" (click)="logout()">Logout </button>

    </mat-card>
</div>

