<mat-card class="card-carbs">
    <table mat-table [dataSource]="dataSourceCarbs" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="carbs">
          <th mat-header-cell *matHeaderCellDef> Carbs </th>
          <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>
       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="carbsDiet(row)">Done</button>
        </td>
      </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsCarbs"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCarbs;"
            (click)="selectionCarbs.toggle(row)">
        </tr>
      </table>
</mat-card>

<!-- Proteins -->


<mat-card class="card-protein">
    <table mat-table [dataSource]="dataSourceProtein" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="protein">
          <th mat-header-cell *matHeaderCellDef> Proteins </th>
          <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>
       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="proteinDiet(row)">Done</button>
        </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsProtein"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsProtein;"
            (click)="selectionProtein.toggle(row)">
        </tr>
      </table>
</mat-card>


<!-- Fats -->

<mat-card class="card-fats">
    <table mat-table [dataSource]="dataSourceFat" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="fat">
          <th mat-header-cell *matHeaderCellDef> Fat </th>
          <td mat-cell *matCellDef="let element"> {{element.fat}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>
       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="fatDiet(row)">Done</button>
        </td>
      </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFat"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFat;"
            (click)="selectionFat.toggle(row)">
        </tr>
      </table>
</mat-card>
  
<!-- Dairy -->

<mat-card class="card-dairy">
    <table mat-table [dataSource]="dataSourceDairy" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="dairy">
          <th mat-header-cell *matHeaderCellDef> Dairy </th>
          <td mat-cell *matCellDef="let element"> {{element.dairy}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>
       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="dairyDiet(row)">Done</button>
        </td>
      </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDairy"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDairy;"
            (click)="selectionDairy.toggle(row)">
        </tr>
      </table>
</mat-card>


<!-- Fruit -->

<mat-card class="card-fruit">
    <table mat-table [dataSource]="dataSourceFruit" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef> Fruit </th>
          <td mat-cell *matCellDef="let element"> {{element.fruit}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>
       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="fruitDiet(row)">Done</button>
        </td>
      </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsFruit"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFruit;"
            (click)="selectionFruit.toggle(row)">
        </tr>
      </table>
</mat-card>

<!-- Snacks -->

<mat-card class="card-snack">
    <table mat-table [dataSource]="dataSourceSnacks" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="diet">
          <th mat-header-cell *matHeaderCellDef> Diet </th>
          <td mat-cell *matCellDef="let element"> {{element.diet}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="ratio">
          <th mat-header-cell *matHeaderCellDef> Ratio </th>
          <td mat-cell *matCellDef="let element"> {{element.ratio}} </td>
        </ng-container>

        <!-- Food Columne -->

        <ng-container matColumnDef="food">
            <th mat-header-cell *matHeaderCellDef> Food </th>
            <td mat-cell *matCellDef="let element"> {{element.food}} </td>
          </ng-container>


       <!-- Checkbox Column -->
       <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          Status
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="accent" (click)="snacksDiet(row)">Done</button>
        </td>
      </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumnsSnacks"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSnacks;"
            (click)="selectionSnacks.toggle(row)">
        </tr>
      </table>
</mat-card>