<div class="container-fluid">
    <div class="container">
    <div class="banner"> 
        <img src="../../../assets/banners/bmi_banner.jpg" alt="">
    </div>
    <mat-card  class="login-card" >
        
        <h1>BMI Calculator</h1>
        <form [formGroup]="bmiForm" (submit)="calculate()">
            <mat-form-field  appearance="fill">
                <mat-label>Your Height (in)</mat-label>
                <input matInput type="text" formControlName="height" autocomplete="off">
                <button  matSuffix mat-icon-button aria-label="Clear" >
                  <mat-icon>height</mat-icon>
                </button>
                <mat-error *ngIf="(bmiForm.get('height').touched 
                || bmiForm.get('height').dirty) && 
                bmiForm.get('height').errors">
    Please enter height</mat-error>
              </mat-form-field>
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Weight (kg)</mat-label>
                <input matInput type="text"  formControlName="weight" autocomplete="off">
                <button  matSuffix mat-icon-button aria-label="Clear" >
                  <mat-icon>monitor_weight</mat-icon>
                </button>
                <mat-error *ngIf="(bmiForm.get('weight').touched 
                || bmiForm.get('weight').dirty) && 
                bmiForm.get('weight').errors">
    Please enter weight</mat-error>
              </mat-form-field>
              <div class="register">
                <mat-card class="bmi_card" *ngIf="BMI">
                  BMi is {{BMI}} and you are  {{this.weightReport}}
                </mat-card>
                <button mat-raised-button color="accent" type="submit">
                    Calculate
                </button> 
                 <!-- Expension panel -->
  
              </div>
        </form>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title class="panel-title">
                Show BMI TABLE
              </mat-panel-title>
              <!-- <mat-panel-description>
                This is a summary of the content
              </mat-panel-description> -->
            </mat-expansion-panel-header>
              <table mat-table [dataSource]="dataSourceBMI" class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>
                
                  <!-- Name Column -->
                  <ng-container matColumnDef="bmiRange">
                    <th mat-header-cell *matHeaderCellDef> BMI Range </th>
                    <td mat-cell *matCellDef="let element"> {{element.bmiRange}} </td>
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsBMI"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsBMI">
                  </tr>
                </table>
            
          </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>

</div>



 