

mat-card{
    width: fit-content;
}
th, td {
    padding: 15px;
  }
  table {
    width: 100%;
    border-spacing: 5px;
}
h3{
    margin-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}