<!-- <iframe src="https://drive.google.com/file/d/1ZXMfUfOGj2etxRzJVr4SIOcGbjTAlMz2/view" frameborder="0"></iframe> -->
<!DOCTYPE html>
<html lang="en">



<body>
    <mat-card>
        <div>
            <h2 class="h-secondary">GUIDELINES FOR PORTION CONTROL
            </h2>
            <div>
                <p>Portion control means choosing healthy <br> amount of a certain food. <br>Portion control helps you get
                    the
                    benefit of the nutrients in the food without over eating</p>
                <p >In portion control portion is how <br>much food you choose to eat at one time whether <br>in a
                    restaurant, from
                    a package or in your own kitchen. A portion is 100% under our control. Many foods that come as a
                    single portion actually contain multiple servings. Serving size is the amount of food listed on a product
                    nutrition facts label</p>
                <p>In this app we suggest some portions from each food group daily. For easy understating food can
                    be
                    divided into some groups</p>
            </div>
            
            <div class="image">
                <img src="../../../assets/banners/guidline_1.PNG">
            </div>
    
            <ul class="list-first">
                <li>Carbohydrates</li>
                <li>Proteins</li>
                <li>Fats</li>
                <li>Fruits</li>
                <li>Vegetables</li>
                <li>Dairy</li>
            </ul>
            <p >We suggest daily diet for healthy body</p>
            <h3>Male</h3>
            <table border="1"  >
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Carbohydrates
                        </td>
                        <td>7 to 8 portions</td>
                    </tr>
                    <tr>
                        <td>Proteins</td>
                        <td>2 to 3 portions</td>
                    </tr>
                    <tr>
                        <td>Fruits
                        </td>
                        <td>2 to 3 portion
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetable
                        </td>
                        <td>As desire</td>
                    </tr>
                    <tr>
                        <td>Fats
                        </td>
                        <td>2 portions</td>
                    </tr>
                    <tr>
                        <td>Dairy
                        </td>
                        <td>3 portions</td>
                    </tr>
                </tbody>
            </table>
            <h3>Female</h3>
            <table border="1" >
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Carbohydrates
                        </td>
                        <td>7 to 8 portions</td>
                    </tr>
                    <tr>
                        <td>Proteins
                        </td>
                        <td>2 to 3 portions</td>
                    </tr>
                    <tr>
                        <td>Fruits
                        </td>
                        <td>2 to 3 portion
                        </td>
                    </tr>
                    <tr>
                        <td>Vegetable
                        </td>
                        <td>As desire</td>
                    </tr>
                    <tr>
                        <td>Fats
                        </td>
                        <td>2 portions</td>
                    </tr>
                    <tr>
                        <td>Dairy
                        </td>
                        <td>3 portions</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div>
                <img src="../../../assets/banners/guidline_2.PNG">
            </div>
            
            <p >One sample portions distribution is shown in above tables. We must evenly distribute the above
                mentioned portions in three main meals ( breakfast, lunch and dinner) and one or two snacks daily
                keeping in mind to not take more than 2 portion of any food group in one meal.</p>
        </div>
    </mat-card>
</body>
</html>